@{
    Person p = ViewBag.person;
}
<div class="col-xs-3">
    <img class="img-responsive" id="personImg" src="">
</div>
<div class="col-xs-9">
    <h2> @p.Name @p.Surname</h2>
    <div class="col-xs-6">
        <p>Origin: @p.Origin</p>
        <p>Allegiance: @p.Allegiance</p>
    </div>
    <div class="col-xs-6">
        <p>Sex: @p.Sex</p>
        <p>Birth Year: @p.BirthDate</p>
        <p>Year of death: @p.Death</p>
    </div>
</div>
<script>
        $.ajax({
            type: "GET",
            url: "@Url.Content("api/Person/"+ @p.Id + "/image/")",
            success: function(result) {
                $("#personImg").attr("src", "data:image/jpeg;base64, " + result);
            }
        });
</script>